/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
*/


function toggleSidebar() {
    var sidebar = document.querySelector('.sidebar');
    var content = document.querySelector('.content');
    if (sidebar.classList.contains('pinned'))

{
    sidebar .classList.remove('pinned');
    sidebar .classList.add('unpinned');
    content .classList.remove('pinned');
}

else {
    sidebar .classList.remove('unpinned');
    sidebar .classList.add('pinned');
    content .classList.add('pinned');
}










